
* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #FAE873, #BAB384);
}
main{
    background-color: white; 
    width: 600px; border-radius: 10px;
    box-shadow: 5px 5px 15px #535247c0;
    padding: 10px;
    margin: auto;

}
h1{color: #8573FA;text-align: center;text-shadow: 1px 1px 2px #4e4491b4;

}
h2{color: #5a586e;

}
p{text-align: justify;
}